@tailwind base;
@tailwind components;
@tailwind utilities;

// app global css in SCSS form
.body--light {
  .back {
    color: #f5f5f5;
  }

  // back -- light
  .text-back {
    color: #000 !important;
  }

  .bg-back {
    background: #fff !important;
  }

  /*!
      Theme: Default
      Description: Original highlight.js style
      Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
      Maintainer: @highlightjs/core-team
      Website: https://highlightjs.org/
      License: see project LICENSE
      Touched: 2021
    */
  pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
  }

  code.hljs {
    padding: 3px 5px;
  }

  .hljs {
    background: #f3f3f3;
    color: #444;
  }

  .hljs-comment {
    color: #697070;
  }

  .hljs-punctuation, .hljs-tag {
    color: #444a;
  }

  .hljs-tag .hljs-attr, .hljs-tag .hljs-name {
    color: #444;
  }

  .hljs-attribute, .hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-name, .hljs-selector-tag {
    font-weight: 700;
  }

  .hljs-deletion, .hljs-number, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-string, .hljs-template-tag, .hljs-type {
    color: #800;
  }

  .hljs-section, .hljs-title {
    color: #800;
    font-weight: 700;
  }

  .hljs-link, .hljs-operator, .hljs-regexp, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-symbol, .hljs-template-variable, .hljs-variable {
    color: #ab5656;
  }

  .hljs-literal {
    color: #695;
  }

  .hljs-addition, .hljs-built_in, .hljs-bullet, .hljs-code {
    color: #397300;
  }

  .hljs-meta {
    color: #1f7199;
  }

  .hljs-meta .hljs-string {
    color: #38a;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: 700;
  }
}

.body--dark {
  .back {
    color: #f5f5f5;
  }

  // back -- dark
  .text-back {
    color: #FFFFFFDE !important;
  }

  .bg-back-soft {
    background: #24292E;
  }

  .bg-back {
    background: #24292E !important;
  }

  // Primary -- dark
  .text-primary {
    color: #1976D2DE !important;
  }

  .bg-primary {
    background: #1976D2DE !important;
  }

  .text-warning {
    color: $yellow-9 !important;
  }

  .bg-warning {
    background: $yellow-9 !important;
  }

  // Primary -- dark
  .text-teal {
    color: #009688DE !important;
  }

  .bg-teal {
    background: #009688DE !important;
  }

  // Text -- dark
  .q-dark {
    color: #FFFFFFDE !important;
  }

  .text-grey-3 {
    color: $grey-10 !important;
  }

  .bg-grey-3 {
    background: $grey-10 !important;
  }

  /*!
     Theme: GitHub Dark
     Description: Dark theme as seen on github.com
     Author: github.com
     Maintainer: @Hirse
     Updated: 2021-05-15

     Outdated base version: https://github.com/primer/github-syntax-dark
     Current colors taken from GitHub's CSS
   */
  pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
  }

  code.hljs {
    padding: 3px 5px;
  }

  .hljs {
    color: #c9d1d9;
    background: #0d1117;
  }

  .hljs-doctag, .hljs-keyword, .hljs-meta .hljs-keyword, .hljs-template-tag, .hljs-template-variable, .hljs-type, .hljs-variable.language_ {
    color: #ff7b72;
  }

  .hljs-title, .hljs-title.class_, .hljs-title.class_.inherited__, .hljs-title.function_ {
    color: #d2a8ff;
  }

  .hljs-attr, .hljs-attribute, .hljs-literal, .hljs-meta, .hljs-number, .hljs-operator, .hljs-selector-attr, .hljs-selector-class, .hljs-selector-id, .hljs-variable {
    color: #79c0ff;
  }

  .hljs-meta .hljs-string, .hljs-regexp, .hljs-string {
    color: #a5d6ff;
  }

  .hljs-built_in, .hljs-symbol {
    color: #ffa657;
  }

  .hljs-code, .hljs-comment, .hljs-formula {
    color: #8b949e;
  }

  .hljs-name, .hljs-quote, .hljs-selector-pseudo, .hljs-selector-tag {
    color: #7ee787;
  }

  .hljs-subst {
    color: #c9d1d9;
  }

  .hljs-section {
    color: #1f6feb;
    font-weight: 700;
  }

  .hljs-bullet {
    color: #f2cc60;
  }

  .hljs-emphasis {
    color: #c9d1d9;
    font-style: italic;
  }

  .hljs-strong {
    color: #c9d1d9;
    font-weight: 700;
  }

  .hljs-addition {
    color: #aff5b4;
    background-color: #033a16;
  }

  .hljs-deletion {
    color: #ffdcd7;
    background-color: #67060c;
  }
}